@model WebApplication.Models.User
@{
    ViewBag.Title = "RetriveDetails";
    Layout = "~/Views/Layout/_Layout.cshtml";
}


<h2>RetriveDetails</h2>
<p>Login ID: @Model.LoginID</p>
<p>Login Password: @Model.LoginPassword</p>


