@model WebApplication.Domain.ProductCategoryDOM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{ 
    List<string> Type = new List<string>();
    List<string> SubType = new List<string>();
    Type = Model.Type;
    SubType = Model.Description;

    for(int i = 0; i < Type.Count();i++)
    {
        if (SubType[i] == "" || SubType[i - 1] == "")
        {
            <ul>@Type[i]</ul>
        }

        else
        {
            <li>@SubType[i]</li>
        }
    }
}