@model WebApplication.Domain.ProductCategoryDOM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@foreach (var item in Model.Type)
{ 
    <span>@item</span>
    
}

@foreach (var item in Model.ID)
{
    <span>@item</span>

}

