@*@model WebApplication.Domain.ProductCategoryDOM*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}


@if (ViewBag.Message != null)
{
<script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}

<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>
<p>HIHI</p>