@model WebApplication.Domain.ProductCategoryDOM


<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    @{
        List<string> Type = new List<string>();
        List<string> SubType = new List<string>();
        Type = Model.Type;
        SubType = Model.Description;

        for (int i = 0; i < Type.Count(); i++)
        {
            if (SubType[i] == "" || SubType[i - 1] == "")
            {
                <a href="#" class="w3-bar-item w3-button">@Type[i]</a>
            }

            else
            {
                <a href="#" class="w3-bar-item w3-button">@SubType[i]</a>
            }

        }
    }
</div>



@*
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <a href="#" class="w3-bar-item w3-button">Shirts</a>
        <a href="#" class="w3-bar-item w3-button">Dresses</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
            Jeans <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
            <a href="#" class="w3-bar-item w3-button">Relaxed</a>
            <a href="#" class="w3-bar-item w3-button">Bootcut</a>
            <a href="#" class="w3-bar-item w3-button">Straight</a>
        </div>
        <a href="#" class="w3-bar-item w3-button">Jackets</a>
        <a href="#" class="w3-bar-item w3-button">Gymwear</a>
        <a href="#" class="w3-bar-item w3-button">Blazers</a>
        <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
*@
