@model IEnumerable<WebApplication.Models.Product_Category>

<table class="table">
    <!-- Table Header -->
    <tr>
        <th>ID</th>
        <th>Type</th>
       
    </tr>

    <!-- Table Body -->
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.ID</td>
            <td>@s.Type</td>
            
        </tr>
    }
</table>

<p>
    @Model.Count() record(s)
</p>
